<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    


<h1>eita</h1>


<ol>

    <li>{{p.nome}}

        <form action="/loja/atualizar" method="POST">
            {% csrf_token %}
            <input type="text" name="id" id="id" value="{{p.id}}">
            <input type="number" name="preco" id="preco" value="{{p.preco}}">
            <input type="submit" value="atualizar">




        </form>


    </li>

 
</ol>







    
</body>
</html>