<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
<h1>Oi {{nome}}</h1>

<p style="color: blue;" >{{resultado}}</p>



<style>

</style>

<form action="/campo/loja/pesquisar" id="pesquisar">
    
    <input type="text">
    <sub>vai</sub>


</form>





<table>

    <tr>

        <td>{{produtos.nome}}</td>
        <td>{{produtos.proco}}</td>
        <td>{{produtos.quantidade}}</td>

        {% for produtos in resultado %}

        <td>{{produtos.nome}}</td>

        {% endfor %}

    </tr>



</table>




<ol>
    {% for produtos in resultado %}

        <li>{{produtos.nome}}</li>

    {% endfor %}
</ol>









</body>
</html>